<%= partial "layouts/banner" %>

<div class="container">
  <h2 class="text-center">Popular destinations</h2>
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/paris');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Paris</h2>
          <p>awesome city</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/amsterdam');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Amsterdam</h2>
          <p>Very interesting place</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Barcelona</h2>
          <p>Very cool city!</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/bali');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Bali</h2>
          <p>island feelings</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/lissabon');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Lissabon</h2>
          <p>beuatiful city!</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

   </div>
</div>
