<div class="all">
  <ul class="list-inline text-center">
    <h1>--buddies of the day--</h1>
    <% ["JoniSchroeder", "luizzaly"].each do |gh_username| %>
      <li>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
        <h3><%= gh_username.capitalize %></h3>
        <h1>
          <href = http://github.com/ssaunier class=""></href>

        </h1>
      </li>
    <% end %>
  </ul>
</div>
